.cabecera__container{
    display: flex; /*coloca los elementos uno al lado del otro*/
    justify-content: space-between;/*justificamos el contenido dejando un espacio entre los mismos elementos*/
    align-items: center;/**/
    position: fixed;/*fija la posicion de los elementos de nuesto menú*/
    top: 0;/*establecemos en donde se mantendra fijo*/
}
.cabecera__buscar__item{
    display: none;
}

.rodapie__container{
    display: flex;
    /*flex-direction: column;cambia orientacion de horizontal a vertical*/
    /*flex-wrap: wrap;ayuda a quebrar las columnas/filas en partes para adaptarse al espacio de la pagina*/
    flex-flow: column wrap;/*auttomatiza las dos lineas de codigo anteriores*/
}

/*SECCION SUPERIOR*/
.superior__seccion__container{
    display: flex;
    align-items:center;
    white-space:nowrap;/*evitamos que el texto se parta/divida*/
    overflow: scroll;/*agregamos una barra de desplazamiento para poder visualizar */
    gap: 15px;/*crea un espaciado entre los items de la seccion superior*/
}


/*MENU*/
.menu__container{
    position: fixed;
    bottom: 0%;
    height: 75px;
    width: 100%;
}

.menu__lista{
    display: flex;
}

.menu__lista li {
    align-self: center;
}

.menu__itens{
    display: flex;/*hacemos que los elementos queden al lado unos de otros*/
    flex-direction: column;/*con esta funcion haremos que el elemento icono quede arriba del texto que lo describe*/
    gap: 5px;
}

.menu__lista:nth-child(2),
.menu__lista:nth-child(3),
.menu__lista:nth-child(4){
    display: none;
    justify-content: space-around;/*los elementos ganan espacio entre ellos*/
    height: 100%;
}



@media(min-width:834px) {/*solo se mostrara cuando tenga al menos esta cantidad de pixeles*/
    
    .cabecera__buscar__item{
        display: block;
    }    
    .rodapie__container{
        justify-content: space-between;/**/
    }
}